@model WebShopCongNghe.Models.table_catagory

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/MyLayout.cshtml";
}

<div class="panel-heading bg-gradient-primary text-white p-2">
    <h2>Chi tiết thông tin</h2>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateupdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateupdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-info " }) |
    @Html.ActionLink("Back to List", "Index")
</p>
