@model WebAppCK.Models.table_footer

<p class="fo-para">@Model.compname</p>
<p class="fo-para">
    @Model.description
</p>
<div class=" address">
    <div class="col-md-4 fo-grid1">
        <p><i class="home" aria-hidden="true"></i>@Model.address.</p>
    </div>
    <div class="col-md-4 fo-grid1">
        <p><i class="phone" aria-hidden="true"></i>@Model.phone</p>
    </div>
    <div class="col-md-4 fo-grid1">
        <p><i class="email" aria-hidden="true"></i>@Model.email</p>
    </div>
    <div class="clearfix"></div>

</div>